<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
</head>

<body>
    <main>
        <div>
            <h1>My Lists</h1>
            <table>
                <th>Name</th>
                <th>Number of items</th>
                <tbody>
                    {% for list in todos %}
                    <tr>
                        <td>{{ list.name }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>

</html>